@import './zero.css';
@import './fonts.css';
@import './theme.css';


body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: calc(100vh - 3px);
  width: 100%;
  font-family: Nunito;
  color: var(--neutral-100, #0A0A0A);
  background-color: var(--neutral-10, #EDEDED);
  display: flex;
  flex-direction: column;
}

.box {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

.block {
  margin-top: 20px;
}

.content {
  flex: 1 1 auto;
  padding: 35px 0;
}

.btn {
  max-width: 140px;
}

.btn.big {
  max-width: 230px;
}

.item {
  margin-top: 10px;
}

img {
  max-width: 100%;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block {
  margin-top: 20px;
}

input {
  color: var(--neutral-100);
}

@media screen and (max-width: 768px) {
  .box {
    padding: 20px 10px;
  }
}