.header {
  height: 80px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--neutral-60);
  color: var(--primary-focus);
}

.header button {
  max-width: 200px;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  gap: 25px;
}

.right {
  flex: 0 0 10%;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 992px) {
  .header {
    height: 60px;
  }

  .nav {
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all .4s linear;
    z-index: 5;
    background-color: var(--primary-focus);
    overflow: auto;
  }

  .left {
    flex-direction: column;
    flex-basis: auto;
  }

  .right {
    flex-direction: column;
  }

  .nav.active {
    left: 0;
  }

  .burger {
    cursor: pointer;
    position: absolute;
    right: 28px;
    width: 30px;
    height: 20px;
    z-index: 6;
  }

  .burger span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--neutral-100);
  }

  .burger span:first-child {
    top: 0;
    transition: transform .4s linear;
  }

  .burger span:nth-child(2) {
    top: 40%;
  }

  .burger span:last-child {
    bottom: 0;
    transition: transform .4s linear;
  }

  .burger.active span:first-child {
    top: 47%;
    transform: rotate(45deg);
  }

  .burger.active span:nth-child(2) {
    display: none;
  }

  .burger.active span:last-child {
    top: 47%;
    transform: rotate(-45deg);
  }
}