.img {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.img img {
  max-width: 100%;
}

.vegan {
  width: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.vegan img {
  max-width: 100%;
}