.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  gap: 20px;
  border-bottom: 1px solid var(--neutral-50);
  margin: 15px 0;
}

.select {
  width: 250px;
}

@media screen and (max-width: 768px) {
  .top {
    flex-direction: column;
    gap: 0px;
  }

  .select:first-child {
    margin-bottom: 20px;
  }
}